body {
  align-items: center;
}

.container {
  border: 1px solid black;
  background-color: aquamarine;
  display: grid;
  grid-template-rows: 150px 150px 150px;
  grid-auto-columns: 150px;
  grid-auto-flow: column;
  gap: 20px;
  height: 600px;

  /* justify-content: center;
  align-content: center; */
  place-content: center;
  justify-items: center;
  align-items: start;
}

.item.item1 {
  background-color: rgb(255, 132, 0);
  justify-self: start;
  align-self: end;
}
