body {
  align-items: center;
}

.container {
  border: 1px solid black;
  background-color: aquamarine;
  display: grid;
  grid-template-rows: 150px 150px 150px;
  grid-auto-columns: 150px;
  grid-auto-flow: column;
  gap: 20px;
  height: 600px;

  /* justify-content: center;
  align-content: center; */
  place-content: center;
}

.item {
  border: 1px solid black;
}
.container2 {
  background-color: aqua;
  border: 1px solid black;
  justify-content: center;
  height: 600px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 150px 150px 150px;
  grid-auto-flow: row;
  align-content: center;
  gap: 20px;
  grid-template-areas:
    "header header header"
    "side main main"
    "side main main";
}

.item-1 {
  background-color: blueviolet;
  grid-area: header;
}
.item-2 {
  background-color: rgb(68, 50, 230);
  grid-area: side;
}
.item-3 {
  background-color: rgb(68, 50, 230);
  grid-area: main;
}

.container3 {
  background-color: cornflowerblue;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  justify-content: center;
  align-content: center;
  height: 700px;
  grid-template-areas:
    "uno uno dos"
    "tres cuatro cuatro";
}

.items1 {
  background-color: blueviolet;
  grid-area: uno;
}

.items2 {
  background-color: rgb(33, 48, 68);
  grid-area: dos;
}

.items3 {
  background-color: rgb(51, 193, 115);
  grid-area: tres;
}

.items4 {
  background-color: rgb(138, 110, 76);
  grid-area: cuatro;
}
.items5 {
  background-color: rgb(83, 33, 114);
}
.items6 {
  background-color: rgb(38, 85, 151);
}
.items7 {
  background-color: rgb(33, 121, 58);
}

.container4 {
  background-color: blanchedalmond;
  display: grid;
  grid-template-columns: minmax(30px, 300px) 30px minmax(30px, 300px);
  grid-template-rows: repeat(3, auto);
}

.container5 {
  background-color: rgb(22, 138, 138);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.celda {
  border: 1px solid black;
}

.container6 {
  background-color: aquamarine;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
