* {
  font-family: "Roboto", sans-serif;
}

div {
  border: 1px solid black;
}

main {
  max-width: 3500px;
  margin: 0 auto;
}

.imagen-hero {
  width: 100%;
  object-fit: contain;
  height: 100%;
}

#container1 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-auto-rows: 1600px;
}

.info {
  align-self: center;
}

.info h1 {
  font-size: 6em;
}

.info p {
  font-size: 2em;
}

.info button {
  font-size: 3em;
}
