* {
  font-family: "Roboto", sans-serif;
}

/* div {
  border: 1px solid black;
} */

main {
  max-width: 1200px;
  margin: 0 auto;
}

.imagen-hero {
  width: 100%;
  object-fit: contain;
  height: 100%;
}

#container1 {
  display: grid;
  grid-template-columns: minmax(200px, 2fr) 3fr;
  grid-auto-rows: 400px;
}

.info {
  align-self: center;
}

.info h1 {
  color: #333;
  margin-bottom: 40px;
  font-weight: bolder;
  font-size: 3em;
}

.info p {
  color: #333;
  font-size: 1em;
}

.info button {
  color: #333;
  font-size: 1em;
  background-color: rgb(233, 159, 21);
  border-radius: 40px;
  padding: 10px 20px;
  border: none;
}

#titulo {
  text-align: center;
}
.imagen-dish {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#container2 {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 300px));
  grid-auto-rows: minmax(200px, 300px);
  gap: 20px;
  justify-content: center;
}
.video-dish {
  grid-area: 1/1/3/3;
}

.plate {
  width: 100%;
  height: 100%;
}
#container3 {
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 200px));
  grid-auto-rows: minmax(100px, 200px);
  justify-content: space-between;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  #container1 {
    grid-template-columns: 1fr;
  }

  .info {
    justify-content: center;
  }

  .imagen-hero {
    display: none;
  }
}
